body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #272727; /* Dark background */
    color: #FFFFFF; /* White text */
}
header {
    background: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
.container {
    width: 90%; /* Sets the width of the container */
    margin: auto; /* Centers the container */
    display: flex;
    justify-content: space-between; /* Ensures space is added between the boxes */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    padding: 0 10px; /* Adds padding inside the container */
}
.main-title {
    text-align: center;
    padding: 20px;
}
.highlight {
    color: #4FE355; /* Specific words in green */
}
.box {
    background: #272727; /* Background matches the page */
    border: 1px solid #FFFFFF; /* White border */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    margin: 10px;
    padding: 20px;
    text-align: center;
    flex: 1 1 20%; /* Adjusts the basis to take up one quarter minus margins */
    min-width: 150px; /* Adjust minimum width as necessary */
    color: #FFFFFF; /* White text */
}
form {
    width: 95%; /* Full width of its container */
    background-color: #333333; /* Dark grey background for the form */
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #FFFFFF;
}

input[type="text"], input[type="email"], textarea {
    background-color: #555555; /* Lighter grey for inputs */
    color: #FFFFFF; /* White text */
    border: none;
    padding: 3px;
    width: 100%; /* Makes input fields take up full width */
    margin-bottom: 10px; /* Space between fields */
    border-radius: 5px; /* Rounded corners */
}

input[type="submit"] {
    background-color: #4FE355; /* Green background */
    color: white; /* White text */
    padding: 12px 25px;
    border: none;
    width: 30%; /* Full width to align with input fields */
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Rounded corners */
}

input[type="submit"]:hover {
    background-color: #36cc2f; /* Darker green on hover */
}